extends layout

block content
    .container
        h1.center #{title}
        
        ul.errors
            if errors
                each error, i in errors
                    li.card-panel.red.accent-2.white-text #{error.msg}

        .row
            form.col.s9.offset-s2(method="post", action="/articles/edit/" + article._id)
                .row
                    .input-field.col.s10
                        input#title.validate(type='text', name="title", value=article.title)
                        label.active(for='title') Title
                .row
                    .input-field.col.s10
                        input#Subtitle.validate(value=article.subtitle, type='text', name="subtitle")
                        label.active(for='Subtitle') Subtitle
                .row
                    .input-field.col.s10
                        select(name="category")
                            <option disabled selected>Choose Category</option>
                            
                                each category, i in categories
                                    if (category._id == article.category)
                                        option(value=category._id, selected) #{category.title}
                                    else         
                                        option(value=category._id) #{category.title}
                .row
                    .input-field.col.s10
                        input#Author.validate(value=article.author, type='text', name="author")
                        label.active(for='Subtitle') Author
                
                .row
                    .input-field.col.s10
                        textarea#body.materialize-textarea(name="body")
                            | #{article.body}
                        label(for='body') Body
                .row
                    a.btn.col.s3.btn-large.waves-effect.waves-light(href="/manage/articles" class="back light-blue darken-2")
                        i.material-icons.right settings_backup_restore
                        | Back
                    button.col.s3.offset-s4.btn.btn-large.waves-effect.waves-light(type='submit', class="grey darken-3" name='submit')
                        i.material-icons.right restore
                        | Update